/* Content */
.content_root {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 450px;
}

.content {
    margin: 0 auto;
}

.title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.virtical_line {
    width: 1px;
    height: 30px;
    margin: 27px auto 31px auto;
    background: black;
}

.description {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: var(--gray-200-color);
}

.description.tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    .content_root {
        min-height: 700px;
    }

    .title {
        font-size: 100px;
        line-height: 100px;
    }

    .description {
        font-size: 20px;
    }

    .description.tablet {
        display: block;
    }

    .description:not(.tablet) {
        display: none;
    }

    .virtical_line {
        height: 79px;
        margin: 37px auto 47px auto;
    }
}